<div class="container">
    <div class="searchBar">
        <input type="text" placeholder="Search City" [formControl]="name">
        <button (click)="getWeather()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg></button>
    </div>
    <div class="">
        <img src="../../../assets/images/clear.png" alt="">
    </div>
    <div class="name">
        Sokobanja
    </div>
    <div class="temp">
        <p>26</p>
        <p>Mostly Cloudy</p>
        <p>H:26  L:14</p>
    </div>
    <div class="">
        <p>Humidity</p>
        <p>40%</p>
    </div>
    <div class="">
        <p>Precipitation</p>
        <p>0.32 mm</p>
        <p>in last hour</p>
    </div>
    <div class="wind">
        <p>Wind</p>
        <p>11 KM/H</p>
    </div>
</div>