<div class="container">
    <div class="search-bar-container">
        <div class="search-bar">
            <input class="search-text" type="text" placeholder="Search City" [formControl]="name">
            <button class="search-btn" (click)="getWeather(); getForecast()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg></button>
        </div>
    </div>
    <div class="img">
        <!-- <img src="../../../assets/images/{{weather.weather[0].main}}.png" alt=""> -->
        <img class="img-img" src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="">
    </div>
    <div class="name"  *ngIf="name">
        {{weather.name}}
    </div>
    <div class="temp"  *ngIf="name">
        <p class="temp-c">{{temp}} &#8451;</p>
        <p>{{weather.weather[0].main}}</p>
        <p>H:{{tempH}}&deg;  L:{{tempL}}&deg;</p>
    </div>
    <div class="wrapper" *ngIf="name">
        <div class="humidity">
            <p>Humidity:</p>
            <div class="humidity-div">
                <p>{{weather.main.humidity}}%</p>
                <img class="icon-humidity" src="../../../assets/images/humidity.png" alt="">
            </div>
        </div>
        <div class="precipitation">
            <p>Pressure:</p>
            <p>{{weather.main.pressure}} Pa</p>
        </div>
    </div>
    
    <div class="wind"  *ngIf="name">
        <p>Wind:</p>
        <div class="wind-div">
            <p>{{weather.wind.speed}} KM/H</p>
            <img src="../../../assets/images/wind.png" height="40px" alt="">
        </div>
        
    </div>
    <div>
        
    </div>
</div>
